:root {    
    --color1: rgba(1,12,63,.7);
    --bg-color-toolbar: rgba(1,12,63,.9);
    --color-inputs: rgba(70, 76, 104, 0.7);
    --hover-color: #999999;
    --main-text-color: white;
    --border-color: black;
    --rows-border-color: black;
    --input-border-color: rgb(122, 122, 122);
    --checked-color: rgb(3, 12, 49);
    --unchecked-color: rgb(29, 0, 0);

    --ag-font-family: 'Merienda One', cursive;
}
::-webkit-scrollbar {
    width: .5em;
    height: .5em;
}
::-webkit-scrollbar-button {
    height: 0px;
    width: 0px;
}
::-webkit-scrollbar-track-piece {
    background: #888
}
::-webkit-scrollbar-thumb {
    background: rgb(1,12,63);
}

/* table global borders */
.ag-theme-alpine .ag-root-wrapper {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 2px 4px rgba(0,0,0,0.7);
}

/* group table header */
.ag-theme-alpine .ag-column-drop-horizontal, .ag-theme-alpine .ag-column-drop-horizontal span {
    background-color: var(--color1);
    color: white;
}

/* table status bar */
.ag-theme-alpine .ag-status-bar {
    color: var(--main-text-color);
}

/* table toolbar filter group */
.ag-theme-alpine .ag-group-title-bar {
    background-color: var(--color1);
}

/* table toolbar columns ???? */
.ag-filter-toolpanel-header span, .ag-column-select-column-label {
    color: var(--main-text-color);
}

/* input fields */
.ag-theme-alpine input[class^=ag-], 
.ag-theme-alpine select[class^=ag-], 
.ag-theme-alpine textarea[class^=ag-], 
.ag-virtual-list-container,
.form-control {
    background-color: var(--color-inputs);
}

/* table toolbar sidebar buttons hover */
.ag-theme-alpine button.ag-side-button-button:hover {
    color: var(--hover-color);
}

/* main theme settings */
.ag-theme-alpine {
    --ag-selected-tab-underline-color: white;
    --ag-background-color: var(--color1);
    --ag-foreground-color: var(--main-text-color);

    --ag-border-color: var(--border-color);
    --ag-secondary-border-color: var(--rows-border-color);
    --ag-input-border-color: var(--input-border-color);
    --ag-row-border-color: var(--rows-border-color);

    --ag-header-background-color: var(--color1);
    --ag-header-foreground-color: var(--main-text-color);

    --ag-odd-row-background-color: rgb(0, 0, 0, 0.03);
    --ag-selected-row-background-color: rgb(32 , 159, 255, 0.3);

    --ag-checkbox-background-color: var(--hover-color);
    --ag-checkbox-checked-color: var(--checked-color);
    --ag-checkbox-unchecked-color: var(--border-color);
    --ag-checkbox-indeterminate-color: var(--unchecked-color);

    --ag-control-panel-background-color: var(--bg-color-toolbar);

    --ag-header-column-resize-handle-display: block;
    --ag-header-column-resize-handle-height: 25%;
    --ag-header-column-resize-handle-width: 1px;
    --ag-header-column-resize-handle-color: var(--border-color);

    font-family: var(--ag-font-family);
}

/* cell value display and gaps */
.ag-cell-value span {
    display: flex;
    gap: 5px;
    align-items: center;
}

/* sell format */
.ag-cell {
    padding-left: 10px !important;
    font-size: 12px;
}

/* modal windows */
.modal-content {
    background-color: var(--bg-color-toolbar);
}

/* modal inputs */
input[type^=button] {
    background-color: var(--color1);
    color: var(--main-text-color);
    border-radius: 5px;
    margin: 5px;
    padding: 0px 5px;
}

/* table buttons */
.btn.btn-light.btn-sm {
    border: none;
    background-color: rgba(0,0,0,0);
}

/* .ag-body-viewport.ag-layout-normal::-webkit-scrollbar, .ag-body-horizontal-scroll-viewport::-webkit-scrollbar {
    width: 1.3em;
    height: 1.3em;
} */
/* header separator type */
.ag-theme-alpine .ag-header-cell-resize:after, .ag-theme-alpine .ag-header-cell-resize {
    height: 100%;
    top: 0;
}

/* icon cell separator */
.ag-theme-alpine .ag-icon-grip:before {
    content: none;
}

.ag-header-group-text {
    font-weight: bold;
}

.ag-theme-alpine .ag-header-group-cell {
    font-weight: normal;
    font-size: 22px;
}

.ag-theme-alpine .ag-header-cell {
    font-size: 18px;
}

/* toolbar content */
.ag-tool-panel-wrapper {
    display: flex;
    justify-content: center;
}

/* status content */
.ag-react-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* global tabel field */
.container-fluid {
    padding: 20px;
}