:root {
    --bg-color-1: white;
    --bg-color-2: #f8f8f8;
    --bg-color-3: rgb(161, 161, 161);
    --bg-color-4: rgb(65, 65, 65);
    --grid-color: #999999;
    --main-text-color: rgb(0, 0, 0);
}

.ag-theme-alpine .ag-root-wrapper {
    border: 1px solid var(--grid-color);
    border-radius: 10px;
}

.ag-theme-alpine .ag-column-drop-horizontal, .ag-theme-alpine .ag-column-drop-horizontal span {
    background-color: var(--bg-color-1);
    color: black;

}

.ag-react-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ag-theme-alpine .ag-status-bar {
    color: var(--main-text-color);
}

.ag-theme-alpine .ag-group-title-bar {
    background-color: var(--bg-color-2);
}

.ag-filter-toolpanel-header span, .ag-column-select-column-label {
    color: var(--main-text-color);
}

.ag-theme-alpine input[class^=ag-], .ag-theme-alpine select[class^=ag-], .ag-theme-alpine textarea[class^=ag-], .ag-virtual-list-container {
    background-color: var(--bg-color-1);
}

.ag-theme-alpine button.ag-side-button-button:hover {
    color: var(--grid-color);
}

.ag-theme-alpine {
    --ag-selected-tab-underline-color: var(--main-text-color);

    --ag-header-height: 30px;
    --ag-background-color: var(--bg-color-1);
    --ag-foreground-color: var(--main-text-color);
    --ag-header-foreground-color: var(--main-text-color);
    --ag-header-background-color: var(--bg-color-2);
    --ag-odd-row-background-color: rgb(0, 0, 0, 0.02);
    --ag-selected-row-background-color: rgb(32 , 159, 255, 0.2);
    --ag-checkbox-background-color: var(--bg-color-1);
    --ag-checkbox-checked-color: var(--bg-color-3);
    --ag-checkbox-unchecked-color: var(--bg-color-4);
    --ag-checkbox-indeterminate-color: var(--bg-color-3);
    --ag-control-panel-background-color: var(--bg-color-2);
    --ag-header-column-separator-display: block;
    --ag-font-family: 'Lato', sans-serif;
    --ag-font-size: 17px;
}

.ag-theme-alpine .ag-header-cell-resize:after, .ag-theme-alpine .ag-header-cell-resize {
    height: 100%;
    top: 0;
}

.ag-header-group-text {
    font-weight: bold;
}

.ag-theme-alpine .ag-icon-grip:before {
    content: "";
}

.container-fluid {
    padding: 0px;
}

.ag-theme-alpine .ag-header {
    font-family: 'Lato', sans-serif;
}

.ag-theme-alpine .ag-header-group-cell {
    font-weight: normal;
    font-size: 22px;
}

.ag-theme-alpine .ag-header-cell {
    font-size: 18px;
}