:root {
    --main-bg-color1: rgb(236, 236, 236);
    --main-bg-color2: rgb(207, 207, 207);
    --main-bg-color3: rgb(161, 161, 161);
    --main-bg-color4: rgb(65, 65, 65);
    --main-bg-color5: rgb(22, 22, 22);
    --main-text-color: rgb(0, 0, 0);
    --header-text-color: rgb(255, 255, 255);
    --checkbox-color: rgb(161, 161, 161)
  }

.ag-theme-alpine .ag-column-drop-horizontal, .ag-theme-alpine .ag-column-drop-horizontal span {
    background-color: var(--main-bg-color3);
    color: white;
}
.ag-react-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ag-theme-alpine .ag-status-bar {
    color: var(--main-text-color);
}
.ag-theme-alpine .ag-toggle-button-input-wrapper {
    background-color: var(--main-bg-color3);
}
.ag-theme-alpine .ag-toggle-button-input-wrapper:before {
    background-color: var(--main-bg-color4);
}
.ag-theme-alpine .ag-group-title-bar {
    background-color: var(--main-bg-color3);
}

.ag-filter-toolpanel-header span, .ag-column-select-column-label {
    color: var(--main-text-color);
}

.ag-theme-alpine input[class^=ag-], .ag-theme-alpine select[class^=ag-], .ag-theme-alpine textarea[class^=ag-], .ag-virtual-list-container {
    background-color: var(--main-bg-color1);
}

.ag-theme-alpine button.ag-side-button-button:hover {
    color: var(--main-bg-color1);
}

.ag-theme-alpine {
    --ag-header-height: 30px;
    --ag-background-color: var(--main-bg-color3);
    --ag-foreground-color: var(--main-text-color);
    --ag-header-foreground-color: var(--header-text-color);
    --ag-header-background-color: rgb(0, 0, 0);
    --ag-odd-row-background-color: rgb(0, 0, 0, 0.2);
    --ag-selected-row-background-color: rgb(32 , 159, 255, 0.2);
    --ag-checkbox-background-color: var(--main-bg-color1);
    --ag-checkbox-checked-color: var(--main-bg-color3);
    --ag-checkbox-unchecked-color: var(--main-bg-color4);
    --ag-checkbox-indeterminate-color: var(--main-bg-color3);
    --ag-control-panel-background-color: var(--main-bg-color2);

    --ag-side-button-selected-background-color: red;

    --ag-font-size: 17px;
    --ag-font-family: monospace;
}

.container-fluid {
    padding: 0px;
    padding-left: 5px;
}

.ag-theme-alpine .ag-header {
    font-family: cursive;
}
.ag-theme-alpine .ag-header-group-cell {
    font-weight: normal;
    font-size: 22px;
}
.ag-theme-alpine .ag-header-cell {
    font-size: 18px;
}
